// out: ./style.css, compress: true, sourceMap: true

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{        
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #222;
}

canvas{
    margin-top: 5px;
    padding: 0;
    background: #111;
}


*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}